.input-container {
  align-items: center;
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 2px solid #8a2b06;
}

.input {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem;
}
.input input {
  width: 50%;
  font-size: 1rem;
}
.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.invalid label {
  color: #b40e0e;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
  text-align: right;
  padding-right: 1rem;
  margin: -1rem 0 0 0;
}

.actions .button:disabled,
.actions .button:disabled:hover,
.actions .button:disabled:active {
  color: #292929;
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}
